<%# Overlay %>
<div id="page-overlay"></div>

<%# Main Scripts %>
<script type="module" src="/main.js" defer></script>

<%# Global Messages %>
<% if (messages.length) { %>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    <% messages.forEach((message) => { %>
    document.dispatchEvent(new CustomEvent('alert', { detail: { type: '<%= message.type %>', message: '<%= message.text %>' } }));
    <% }) %>
  });
</script>
<% } %>