:root {
  /* Colors */
  --c-black: #000;
  --c-white: #fff;

  --c-gray-lightest: #fefefe;
  --c-gray-light: #e0e0e0;
  --c-gray: #d9d9d9;

  --c-dark: #191919;
  --c-light: #f0f0f0;
  --c-primary: #f0f;
  --c-secondary: #0ff;
  --c-accent: #ff0;

  --c-status-info: #FFFFB8;
  --c-status-success: #B3FFB3;
  --c-status-error: #FF9999;

  /* Dimensions */
  --site-padding: 1rem;
  --sidebar-width: 12.5rem;
  --content-width: calc(var(--sidebar-width) + 50rem);

  /* Fonts */
  --ff-default: 'Fira Mono', ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  --ff-title: 'Exo', Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  --font-size-default: 1.25rem;
  --font-size-small: 0.8rem;

  /* Definitions */

  /* Rules */
  background-color: var(--c-light);

  color: var(--c-black);
  font-family: var(--ff-default);
  line-height: 1.65;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
 * Globals
 */
html {
  font-size: 100%;
  width: 100%;
}

body {
  font-size: var(--font-size-default);
  width: 100%;
}

/**
 * Type
 */
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.15;
  font-weight: bold;
}

h1,
.h1 {
  font-size: 3.05rem;
  /* font-family: var(--ff-title); */
}

h2,
.h2 {
  font-size: 2.44rem;
}

h3,
.h3 {
  font-size: 1.95rem;
}

h4,
.h4 {
  font-size: 1.56rem;
}

small {
  font-size: var(--font-size-small);
}

p+p,
pre+p {
  margin-top: 1.5rem;
}

p a {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: .25em;
  text-decoration-color: var(--c-secondary);
}

/**
 * Helpers
 */
.contain {
  width: 100%;
  max-width: calc(var(--content-width) + var(--site-padding) * 2);
  padding-left: var(--site-padding);
  padding-right: var(--site-padding);
  margin-left: auto;
  margin-right: auto;
}

.full {
  position: relative;
  width: 100%;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  padding: var(--site-padding) 0 var(--site-padding) var(--site-padding);
}

.spacer {
  display: block;
  width: 100%;
  height: var(--site-padding);
}

.spacer-2 {
  display: block;
  width: 100%;
  height: calc(var(--site-padding) * 2);
}

.spacer-3 {
  display: block;
  width: 100%;
  height: calc(var(--site-padding) * 3);
}

.pad-x {
  padding-left: var(--site-padding);
  padding-right: var(--site-padding);
}

.pad-y {
  padding-top: var(--site-padding);
  padding-bottom: var(--site-padding);
}

.no-pad {
  padding: 0;
}