<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <div class="wrapper-default contain">
    <%- include ('../partials/sidebar') %>

    <main id="content">
      <div class="content flex-center">
        <h1>Dashboard</h1>
        <p>I didn't get around to putting anything in here, but maybe you can!!</p>
        <br><br>
        <ul>
          <li><a href="/tmdb">Go to TMDB &raquo;</a></li>
          <li><a href="/steam">Go to Steam &raquo;</a></li>
          <li><a href="/spotify">Go to Spotify &raquo;</a></li>
          <li><a href="/test">Go to Test Page &raquo;</a></li>
        </ul>
        <span class="spacer-2"></span>
      </div>
    </main>
  </div>

  <div id="global-alerts"></div>
  <%- include ('../partials/end') %>
</body>

</html>