<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <div class="wrapper-default contain">
    <%- include ('../partials/sidebar') %>

    <main id="content">
      <div class="content flex-center">
        <h1>Dashboard</h1>
        <span class="spacer-2"></span>
      </div>
    </main>
  </div>

  <div id="global-messages"></div>
  <%- include ('../partials/end') %>
</body>

</html>