<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <%- include ('../partials/header') %>

  <main>
    <h1>INDEX PAGE</h1>
  </main>

  <%- include ('../partials/end') %>
</body>

</html>