.CardsList {
  position: relative;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 150px);
}

.CardsList button.load-more {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: .25rem .7rem;
  font-size: 1rem;
  font-family: var(--ff-title);
  font-weight: bold;
  background-color: var(--c-status-success);
  border: .1rem solid var(--c-black);
  border-radius: 1rem;
}

.CardsList .card {
  position: relative;
  display: flex;
  flex-direction: column;
}

.CardsList .card img {
  max-width: 100%;
  height: auto;
}

.CardsList .card .info {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  flex-direction: column;
  opacity: 0;
  padding: .7rem;
  font-size: .9rem;
  transition: .1s ease;
  background-color: rgba(0, 0, 0, .9);
  color: var(--c-white);
  z-index: 3;
  border: 3px solid var(--c-white);
}

.CardsList .card .info .title {
  font-size: .8rem;
}

.CardsList .card .info .artist {
  font-size: .7rem;
}

.CardsList .card:hover img {
  filter: blur(4px);
}

.CardsList .card:hover .info {
  opacity: 1;
}

.CardsList .info label {
  margin-top: .5rem;
  position: relative;
  display: flex;
  padding: .2rem;
  font-size: .9rem;
  border: 1px solid #fff;
}

.CardsList .info input[type="checkbox"] {
  margin-left: 4px;
}

/* Steam */
.CardsList.steam-games {
  grid-template-columns: repeat(auto-fill, 231px);
}

.CardsList.steam-games .card .info {
  height: auto;
}